:root {
    /* FONT */
    --font-dm-sans: "DM sans", sans-serif;

    /* COLORS */
    --color-icons : #b3b3b3;    
    --bg-box-color: #121212;
    --bg-icon: #131313;
    --bg-arrow-color: rgb(0,0,07);
}
